<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets.css"/>
    <title>projects</title>
</head>
<body>

    <div id="cont">
                {{#projects}}
                <div class="projectsLinks"><a href="{{url}}">{{text}}</a></div>
                {{/projects}}
    </div>
<body>
</html>
